<aside class="sidebar__right">
    <nav class="toc" markdown="1">
        <header>
            <h4 class="nav__title">Featured Posts</h4>
        </header>
        <ul class="toc__menu">
            <li><a href="/data%20science/stocks%20prediction/stocks-and-machine-learning/">Stocks and ML</a></li>
            <li><a href="/2016/02/bar/">Featured Post 2</a></li>
            <!-- ... -->
        </ul>
        <header>
            <h4 class="nav__title">Featured Posts</h4>
        </header>
        <ul class="toc__menu">
            <li><a href="/data%20science/stocks%20prediction/stocks-and-machine-learning/">Stocks and ML</a></li>
            <li><a href="/2016/02/bar/">Featured Post 2</a></li>
            <!-- ... -->
        </ul>
    </nav>
</aside>
